# Build results
[Bb]in/
[Oo]bj/
[Aa]rtifacts/

# Entity framework
efbundle.exe
bundle.exe

# VisualStudio
.vs
.vscode

# User-specific files
*.suo
*.user

# Tools
tools/

# nCrunch
*.ncrunch*
.*crunch*.local.xml
_NCrunch*

.fake
.ionide