<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/64aa2c64-0643-46e6-b55f-3e37a345f405/resourceGroups/rg-hallstein-blog-temp/providers/Microsoft.Web/sites/app-demo-dev-no</ResourceId>
    <ResourceGroup>rg-hallstein-blog-temp</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://app-demo-dev-no.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>6c4308d7-127a-42ba-a953-caf8e9b9be13</ProjectGuid>
    <PublishUrl>https://app-demo-dev-no.scm.azurewebsites.net/</PublishUrl>
    <UserName>$app-demo-dev-no</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>