<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://func-alert-handler.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/64aa2c64-0643-46e6-b55f-3e37a345f405/resourceGroups/rg-hallstein-blog-func/providers/Microsoft.Web/sites/func-alert-handler</ResourceId>
    <UserName>$func-alert-handler</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <PublishUrl>https://func-alert-handler.scm.azurewebsites.net/</PublishUrl>
    <TargetFramework>net7.0</TargetFramework>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <PublishTrimmed>false</PublishTrimmed>
  </PropertyGroup>
</Project>